<ion-tabs>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="gs.goPdfCreate()" class="costum_bg">
    <ion-icon name="add" style="font-size: 40px;"></ion-icon>
  </ion-fab-button>
</ion-fab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
    <ion-tab-button>
    </ion-tab-button>
    <ion-tab-button (click)="admobFree.rendomAdShow()" tab="document">
      <ion-icon name="folder-open-outline"></ion-icon>
      <ion-label>My PDF</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
